<% provide(:title, "Login | ")%>
<h1> Log In </h1>

<%= form_with model: @user, url: log_in_path do |form| %>

<div class="form-floating mb-3">
  <%= form.email_field :email, placeholder: "email@example.com", class: "form-control" %>
  <%= form.label :email %>
</div>

<div class="form-floating mb-3">
  <%= form.password_field :password, placeholder: "Password", class: "form-control" %>
  <%= form.label :password %>
</div>

<%= form.submit "Login", class: "btn btn-secondary mb-3" %>
<% end %>

<small class= "center">
  New User? <%= link_to "Sign Up Now!", signup_path %>
</small>