<% provide(:title, "Sign Up | ")%>
<h1> Sign Up </h1>

<%= form_with(model: @user, url: sign_up_path) do |form| %>
  <% if @user.errors.any? %>
    <div class= "alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <ul class="small">
          <li><%= message %></li>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control" %>
  <div>

  <div>
    <%= form.label :birthday %>
    <%= form.date_field :birthday, class: "form-control" %>
  <div>

  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio, class: "form-control" %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class= "mt-4">
    <%= form.submit "Create User", class: "btn btn-secondary" %>
  </div>

<% end %>
