<% provide(:title, "Sign Up | ")%>
<h1> Sign Up </h1>

<%= form_with(model: @user, url: sign_up_path) do |form| %>
  <% if @user.errors.any? %>
    <div class= "alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <ul class="small">
          <li><%= message %></li>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div class= "form-floating mb-3">
    <%= form.text_field :first_name, placeholder: "eg: Jane", class: "form-control" %>
    <%= form.label :first_name %>
  </div>

  <div class= "form-floating mb-3">
    <%= form.text_field :last_name, placeholder: "eg: Doe", class: "form-control" %>
    <%= form.label :last_name %>
  </div>

  <div class= "form-floating mb-3">
    <%= form.email_field :email, placeholder: "eg: email@example.com", class: "form-control" %>
    <%= form.label :email %>
  </div>

  <div class= "form-floating mb-3">
    <%= form.text_field :username, placeholder: "eg: epicpandalord", class: "form-control" %>
    <%= form.label :username %>
  <div>

  <div class= "form-floating mb-3">
    <%= form.date_field :birthday, placeholder: "eg: 12/31/2000", class: "form-control" %>
    <%= form.label :birthday %>
  <div>

  <div class= "form-floating mb-3">
    <%= form.text_area :bio, placeholder: "eg: This is a bio", class: "form-control" %>
    <%= form.label :bio %>
  </div>

  <div class= "form-floating mb-3">
    <%= form.password_field :password, placeholder: "eg: Password", class: "form-control" %>
    <%= form.label :password %>
  </div>

  <div class= "form-floating mb-3">
    <%= form.password_field :password_confirmation, placeholder: "eg: Password", class: "form-control" %>
    <%= form.label :password_confirmation %>
  </div>

  <div class= "mt-4">
    <%= form.submit "Create User", class: "btn btn-secondary w-100" %>
  </div>

<% end %>
